
body{
  background-color:#141E53 ;
}
@font-face {
  font-family: American;
  src: url('./fonts/AmericanCaptain.otf')
}

.page{
}

.container-c{
  display: flex;
  justify-content: space-around;
 
}
.image{
  width: 50vw;
  background-color:#141E53 ;
  display: flex;
  justify-content: center;
}
.toolbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#141E53 ;
  color: white;
  width: 50vw;

}

.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92vh;
  overflow-y: hidden;
  background-color:#141E53 ;
  color: white;
  font-family: American;


}



.text{
position: relative;
font-size: 130px;

}

.text span {
  display: block;
  
}

.text h1 {
  margin: 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 110px;
  color: white;
  z-index: 5;
  line-height: 1.4;
}
.text h2 {
  -webkit-text-stroke: 0.01px white;
color: transparent; 
}
.mainimage{
  height: 100vh;
  position:relative;
  top:0;


}
